<div class="container">
  <div class="homePage">
    <h4 class="font-weight-bold" style="text-align: center;">
      <!-- <%=result%> -->
    </h4>
  </div>
  <table class="table table-hover">
    <thead class='text-dark' style="background-color: #e3f2fd;">
      <tr>
        
        <th>id</th>
        <th>name</th>
        <th>owner</th>
        <th>value</th>
        <th>numberOf</th>
        <th>status</th>
        <th>supplier</th>
        <th>issueDate</th>
        <th>demander</th>
        <th>expirationDate</th>
      </tr>
    </thead>
    <tbody>
      <%for(let i=0; i< result.length; i++){%>
        <tr class="bg-light">
          <th>
            <%=result[i].Key%>
          </th>
    
          <th>
            <%=result[i].Record.name%>
          </th>
          <th>
            <%=result[i].Record.owner%>
          </th>
          <th>
            <%=result[i].Record.value%>
          </th>
          <th>
            <%=result[i].Record.numberOf%>
          </th>
          <th>
            <%=result[i].Record.status%>
          </th>
          <th>
            <%=result[i].Record.supplier%>
          </th>
          <th>
            <%=result[i].Record.issueDate%>
          </th>
          <th>
            <%=result[i].Record.demander%>
          </th>
          <th>
            <%=result[i].Record.expirationDate%>
          </th>
        </tr>
        <%}%>
    </tbody>
    
  </table>
</div>


